.top-banner-container {
  height: 4rem;
  width: 100%;
  background: bisque;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-right: 2rem;
  align-items: center;
  @media (max-width: 768px) {
    height: 3rem;
  }
}

.main-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 1rem;
  @media (max-width: 768px) {
    padding-top: 0.3rem;
  }
}

aside {
  max-width: 120px;
}

.banner-container img {
  width: 100%;
}

/* Phần chính của tool convert */
.content-container {
  max-width: 720px;
  padding: 1.1rem;
  background-color: var(--white);
  box-sizing: border-box;
  @media (max-width: 768px) {
    padding: 1rem 1.1rem;  /* tự thêm đợi anh Sang cho ý kiến */
  }
}

.header-converter-box {
  height: 2.4rem;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}
.header-converter-box video, .header-converter-box img {
  width: auto;
  height: 2.4rem;
}
.header-converter-box h4 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.footer-converter-box {
  margin-top: 1.92rem;
  @media (max-width: 768px) {
    margin-top: 0.2rem;
  }
}
.convert-button {
  width: 100%;
  padding: 1.14rem 0;
  /* margin-top: 1.92rem; */
  font-size: 1.4rem;
  font-weight: 700;
  background: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  color: var(--white);
  transition: var(--transition);
  box-shadow: 0 0.26rem 1rem rgba(102, 126, 234, 0.3);
  max-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:not(:disabled):hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.01);
  }
}

.convert-button:disabled {
  background: var(--gray-500);
  cursor: not-allowed;
}

#corner-select {
  z-index: 1000;
  padding: 0.3rem;
  font-size: 1rem;
  height: 50%;
  border-radius: 1rem;
  @media (max-width: 768px) {
    padding: 0;
  }
}
