.dialog-progress-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: rgba(28, 23, 23, 0.4);
  z-index: 3000;
}
.dialog-progress-overlay.active {
  display: flex;
}
.dialog-progress-box {
  background: var(--white);
  border-radius: 0.89rem;
  box-shadow: 0 1.2rem 1.2rem rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.25s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 90vw;
  max-height: 80vh;
  min-width: 300px;
  width: 95%;
  overflow: hidden;
}

.dialog-progress-header {
  height: 3.94rem;
  width: 100%;
  background: var(--theme-color);
  border-radius: 0.89rem 0.89rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--theme-color-line);
  background-color: var(--theme-color);
}

.dialog-progress-logo {
  width: 2.47rem;
  height: 2.47rem;
  background: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-progress-logo-img {
  width: 62%;
}

.dialog-progress-content {
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.dialog-progress-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-progress-text {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color);
  margin: 0;
}

.dialog-progress-message {
  font-size: 0.8rem;
  color: rgba(99, 98, 98, 1);
  font-family: Roboto, sans-serif;
  margin: 0;
}

.dialog-progress-bar {
  background-color: #d9d9d9;
  width: 100%;
  height: 0.3rem;
  border-radius: 0.2rem;
  overflow: hidden;
  appearance: none;
  border: none;
  margin-top: -1.4rem;
}

.dialog-progress-bar::-webkit-progress-value {
  background-color: var(--theme-color);
  transition: width 0.3s ease;
}

.dialog-progress-bar::-moz-progress-bar {
  background-color: var(--theme-color);
  transition: width 0.3s ease;
}

.dialog-progress-bar::-webkit-progress-bar {
  background-color: #d9d9d9;
}

.dialog-progress-footer {
  /* margin-top: 0.5rem; */
}

.dialog-progress-cancel {
  width: 100%;
  border: 1px solid var(--color-gray);
  background: transparent;
  font-size: 1rem;
  color: var(--color-gray);
  border-radius: 0.4rem;
  height: 3.05rem;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-progress-cancel:hover {
  background: #f5f5f5;
  border-color: #b0b0b0;
}

/* Desktop styles */
@media (min-width: 769px) {
  .desktop-app-container .dialog-progress-box {
    max-width: 500px;
    min-width: 350px;
    width: auto;
  }
}
