.dialog-progress-overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(28, 23, 23, 0.4);
  z-index: 9999;
}
.dialog-progress-overlay.active {
  display: flex;
}
.dialog-progress-box {
  background: #fff;
  border-radius: 0.32rem;
  padding: 2rem 0.8rem 1.6rem 0.8rem;
  box-shadow: 0 1.2rem 1.2rem rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.25s ease;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.dialog-progress-text {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 1.2rem;
  margin-top: 0.2rem;
}
progress::-webkit-progress-value {
  background-color: #939393;
  transition: width 0.3s ease;
}
progress::-moz-progress-bar {
  background-color: #939393;
  transition: width 0.3s ease;
}
progress::-webkit-progress-bar {
  background-color: #d9d9d9;
}

.dialog-progress-bar {
  width: 80%;
  background-color: #d9d9d9;
  height: 0.16rem;
  border-radius: 0.08rem;
  overflow: hidden;
  appearance: none;
  overflow: hidden;
  border: none;
  margin-top: -1.5rem;
}
.dialog-progress-message {
  color: #939393;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
.dialog-progress-footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.dialog-progress-cancel {
  border-radius: 6px;
  border: 1px solid #d0cfcf;
  background: #fff;
  cursor: pointer;
  font-size: 1rem;
  color: #8d8d8d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 56px;
}
