<div class="dialog-number-input-box">
    <div class="dialog-number-input-header">${message} </div>
    <div class="dialog-number-input-body">
        <div class="dialog-number-input-row">
            <input class="dialog-number-input-input" type="number" inputmode="numeric"/>
            <h3 class="dialog-number-input-mb">Mb</h3>
        </div>
        <div class="dialog-number-input-error hidden">Please enter a number between 1 and 2000</div>
    </div>
    <div class="dialog-number-input-footer">
        <button class="dialog-number-input-summit">OK</button>
        <button class="dialog-number-input-cancel">Cancel</button>
    </div>
</div>