.feedback-container {
    max-width: 720px;
    background-color: var(--white);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    min-height: calc(100vh - 4rem);
    overflow-y: auto;
    padding: 0 !important;
}

.feedback-header {
    height: 2.6rem;
    border-bottom: 1px solid #F2F0F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.625rem;

    span {
        font-size: 1.125rem;
        font-weight: 700;
        color: #000000;
    }

    a {
        display: flex;
    }
}

.policy-content {
    padding: 0 1rem;
}

.privacy-content > .privacy-section:first-child {
    margin-top: -0.67rem;
}

.feedback-item {
    padding: 0.55rem 0.55rem;
    display: flex;
    height: 4.75rem;
    gap: 0.75rem;
}

.feedback-item:nth-child(odd) {
  background: #F8F6F6; 
}

.feedback-thumb {

    svg {
        width: 100%;
        height: 100%;
    }
}

.feedback-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback-title {
    font-size: 0.8rem;
    font-weight: 500;
    color: #272727;
}

.feedback-meta {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    color: #939393;
}

.feedback-date {
    font-size: 0.56rem;
    font-weight: normal;
}

.feedback-old {
    font-size: 0.67rem;
    color: #939393;
}

.feedback-new {
    font-size: 0.67rem;
    color: #504F4F;
}