/* .history-container {
    max-width: 720px;
    background-color: var(--white);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    padding: 0 !important;
}

.history-header {
    height: 2.6rem;
    border-bottom: 1px solid #F2F0F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.625rem;

    span {
        font-size: 1.125rem;
        font-weight: 700;
        color: #000000;
    }

    a {
        display: flex;
    }
}

.history-content {
    max-height: calc(100dvh - 5.6rem);
    overflow-y: auto;
}

.history-item {
    padding: 0.625rem 0.625rem;
    display: flex;
    height: 5.3rem;
    gap: 0.75rem;

    &:hover {
        background-color: #F8F6F6;
    }
}

.history-item:nth-child(odd) {
  background: #F8F6F6; 
}

.history-thumb {

    svg {
        width: 100%;
        height: 100%;
    }
}

.history-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history-title {
    font-size: calc(15rem / 16);
    font-weight: 500;
    color: #272727;
}

.history-time {
    font-size: 0.625rem;
    font-weight: normal;
    color: #939393;
}

.history-old {
    font-size: 0.75rem;
    color: #939393;
}

.history-new {
    font-size: 0.75rem;
    color: #504F4F;
} */