/* .policy-container {
    max-width: 720px;
    background-color: var(--white);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    padding: 0 !important;
}

.policy-header {
    height: 2.6rem;
    border-bottom: 1px solid #F2F0F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.625rem;

    span {
        font-size: 1.125rem;
        font-weight: 700;
        color: #000000;
    }

    a {
        display: flex;
    }
}

.policy-content {
    padding: 0 1rem;
    max-height: calc(100dvh - 5.6rem);
    overflow-y: auto;
}

.policy-section {
    font-size: 1rem;

    h2 {
        font-size: 1rem !important;
    }


}

.policy-content > .policy-section:first-child {
    margin-top: -0.67rem;
}

.policy-item {
    padding: 0.55rem 0.55rem;
    display: flex;
    height: 4.75rem;
    gap: 0.75rem;
}

.policy-item:nth-child(odd) {
  background: #F8F6F6; 
}

.policy-thumb {

    svg {
        width: 100%;
        height: 100%;
    }
}

.policy-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.policy-title {
    font-size: calc(15rem / 16);
    font-weight: 500;
    color: #272727;
}

.policy-meta {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    color: #939393;
}

.policy-date {
    font-size: 0.56rem;
    font-weight: normal;
}

.policy-old {
    font-size: 0.67rem;
    color: #939393;
}

.policy-new {
    font-size: 0.67rem;
    color: #504F4F;
} */