/* styles.css - File CSS táº­p trung */

/* ===== CSS VARIABLES & RESET ===== */
@import url('common.css?v=3827a6a05cf0');

/* ===== MAIN LAYOUT STYLES ===== */
@import url('home.css?v=df127547b129');
@import url('up-load-home.css?v=593a090500ed');
@import url('form-config-convert-video.css?v=6da5dce7c285');

/* ===== COMPONENT STYLES ===== */
@import url('/components/info-dialog/info-dialog.css?v=3e53d75d3c1d');
@import url('/components/number-input/number-input.css?v=c0f2c5263936');
@import url('/components/loading/loading.css?v=b06b275c7ef5');
@import url('/components/progress/progress.css?v=f247ace6ee9d');
@import url('/components/video-complete/video-complete.css?v=23687306ca92');
@import url('/components/video-player/video-player.css?v=6fdd583e42ce');

/* ===== MODAL COMPONENT STYLES ===== */
@import url('/components/modal-trim-crop-video/mtcv.css?v=e27653b9ae1d');
@import url('/components/modal-trim-crop-video/mtcv-timeline.css?v=ef22a6bf32d3');
@import url('/css/desktop-style.css?v=7aa416aeef33');