.upload-section {
  border: 1px dashed #667EEA;
  border-radius: 10px;
  cursor: pointer;
  padding: 14px;
  background: rgba(102, 126, 234, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.upload-section:hover {
  border-color: #007bff;
}

.upload-icon {
  width: 52px;
  height: 26px;
}

.upload-section p {
  color: #666;
  font-size: 14px;
}

.video-preview {
  position: relative;
  height: 86px;
  border: 1px dashed #DDD;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
  background: var(--gray-50);
  justify-content: center;
  display: none;
}

.video-preview.show {
  display: flex;
  padding: 0 10px;
  align-items: center;
  flex-direction: row;
}

.video-preview-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: transparent;
  background: transparent;
  color: var(--gray-500);
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: background 0.2s, color 0.2s;
}

.video-thumbnail {
  width: 50%;
  padding-top: 24%;
  border-radius: var(--border-radius);
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 20px;
}
.video-info {
  flex: 1;
  font-size: 15px;
  text-align: left;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.video-title {
  font-weight: 700;
  line-height: 100%;
  color: rgba(39, 39, 39, 1);
  width: 8.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.video-details {
  font-weight: 400;
  color: rgba(147, 147, 147, 1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}