.mtcv-timeline {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
.mtcv-btn-playpause {
  background: transparent;
  height: fit-content;
  border: none;
  position: relative;
  top: 5px;
}
.mtcv-btn-playpause img {
  width: 20px;
  height: 20px;
}

.mtcv-timeline-track {
  width: 100%;
  padding: 9px 10px 0 10px;
  position: relative;
}

.progress-container {
  position: relative;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  overflow: visible;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  border-radius: 8px;
}

.selected-range {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(90deg, #8db7ff, #667eea);
  border-radius: 8px;
}

.current-time-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.progress-handle {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
}

.progress-handle-icon {
  position: absolute;
  width: 14px;
  height: 16px;
  border-radius: 5px;
  background-color: #FFF;
  border: 2px solid #B2B2B2;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: auto;
  z-index: 15;
}

.current-time-marker {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #FFF;
  border: 2px solid var(--primary-color);
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: auto;
  z-index: 20;
}

.start-handle:hover, .end-handle:hover {
  border-color: var(--primary-color);
}

.current-time-marker:hover {
  border-color: #B2B2B2;
}

.time-labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.time-label {
  font-weight: lighter;
  color: var(--gray-500);
  margin-top: -3px;
}
#startTimeLabel {
  margin-left: -10px;
}
#endTimeLabel {
  margin-right: -10px;
}