<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://drive.google.com/file/d/1X3vUNmS35IMErtZgRolR8_bqhFeaXtJ8/view?usp=sharing</string>
				</dict>
				<!-- <dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://dl.dropbox.com/s/22d3r1ofckkarow/57.png</string>
				</dict> -->
				<!-- <dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://dl.dropbox.com/s/qc1b91hhwyzpuam/512.png</string>
				</dict> -->
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.mbmobile.uat</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>VNA Test</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
