<div class="dialog-video-box">
    <div class="dialog-video-header">Conversion process is complete</div>
    <video class="dialog-video-player" controls src=${blob_url}></video>
    <table class="dialog-video-info">
        <tr>
            <td class="dialog-video-info-left">Resolution:</td>
            <td class="dialog-video-info-right">...</td>
        </tr>
        <tr>
            <td class="dialog-video-info-left">Duration:</td>
            <td class="dialog-video-info-right">... seconds</td>
        </tr>
        <tr>
            <td class="dialog-video-info-left">Size:</td>
            <td class="dialog-video-info-right">... MB</td>
        </tr>
        <tr>
            <td class="dialog-video-info-left">Format:</td>
            <td class="dialog-video-info-right">...</td>
        </tr>
    </table>
    <div style="flex: 1;"></div>
    <div class="dialog-video-footer">
        <button class="dialog-video-save">${saveText}</button>
        <button class="dialog-video-cancel">${closeText}</button>
    </div>
</div>