.dialog-progress-overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(28, 23, 23, 0.4);
  z-index: 9999;
}
.dialog-progress-overlay.active {
  display: flex;
}
.dialog-progress-box {
  background: #fff;
  border-radius: 8px;
  width: min(400px, 90%);
  padding: 1rem;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.25s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: min(200px, 50%);
  font-size: 16px;
}
.dialog-progress-text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 5px;
}
progress::-webkit-progress-value {
  background-color: #939393;
  transition: width 0.3s ease;
}
progress::-moz-progress-bar {
  background-color: #939393;
  transition: width 0.3s ease;
}
progress::-webkit-progress-bar {
  background-color: #d9d9d9;
}

.dialog-progress-bar {
  width: 100%;
  background-color: #d9d9d9;
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  appearance: none;
  overflow: hidden;
  border: none;
}
.dialog-progress-message {
  flex: 1;
  color: #939393;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.dialog-progress-footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.dialog-progress-cancel {
  height: 40px;
  border-radius: 6px;
  width: min(40%, 110px);
  border: 1px solid #d0cfcf;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
  color: #8d8d8d;
}
